/* .search-container {
    margin: 0 auto;
    border-bottom: 1px solid #3333;
    width: 50%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
    align-items: baseline;
    background: #ffffff;
}

.image {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
}

p {
    display: flex;
    height: 30px;
    padding-left: 30px;
}

.search {
}


.right-container {
    display: flex;
}

.social {
    margin: 0 auto;
    vertical-align: baseline;
}

.img {
    height: 40px;
    width: 40px;
} */