.PostContainer {
  margin-top: 20px;    
  border: 1px solid lightgrey;
  border-radius: 5px;  
  width: 100%;
}

.headerBar {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}
.UserThumbnail {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}
.Username {
  padding-left: 15px;
}



.PostImage{
  width: 100%;
}